<a href="https://colab.research.google.com/github/erick-huang15/Python_Exercises/blob/main/GroupBy_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd

In [45]:
url = 'https://raw.githubusercontent.com/mGalarnyk/Tutorial_Data/master/Pandas/CalIt2.data'
# importing the data by using website url

In [58]:
# this is to let pytyhon know that this dataset has no header
data = pd.read_csv(url, header=None)
data.head()

   0         1         2  3
0  7  07/24/05  00:00:00  0
1  9  07/24/05  00:00:00  0
2  7  07/24/05  00:30:00  1
3  9  07/24/05  00:30:00  0
4  7  07/24/05  01:00:00  0

In [119]:
# this is to rename the columns by using the set_axis function
data.set_axis(['Flow_ID','Date','Time','Count'],axis=1,inplace=True)

In [121]:
# selecting data for the date (7/24/2005 and having flow id=7)
date_filter = data['Date']=='07/24/05' # this is to slice to get the row that has the date 7/25/2005
flow_filter = data['Flow_ID']==7  #this is to slice to get the flow id of 7 
filter_data = data.loc[date_filter & flow_filter,:]
filter_data.head(10)

    Flow_ID      Date      Time  Count
0         7  07/24/05  00:00:00      0
2         7  07/24/05  00:30:00      1
4         7  07/24/05  01:00:00      0
6         7  07/24/05  01:30:00      0
8         7  07/24/05  02:00:00      0
10        7  07/24/05  02:30:00      2
12        7  07/24/05  03:00:00      0
14        7  07/24/05  03:30:00      0
16        7  07/24/05  04:00:00      0
18        7  07/24/05  04:30:00      0